%a.back_to_blog{href: configs.baseUrl} &laquo; Back to blog
%article.post
  %header
    %h1= article.title()
    %span
      Posted
      %time{datetime: article.date().isoformat(), pubdate: 'pubdate'}
        %a{href: article.permalink()}= article.date().pretty()
      - if (article.meta('author'))
        = ' by '
        %a{href: '#todo'}= article.meta('author')
      - if (configs.disqus)
        = ' | '
        %a{href: article.permalink() + '#disqus_thread', title: 'Comment on ' + article.title(), dataDisqusIdentifier: article.permalink(true)} 0 Comments
  %section.content
    != markdown(article.body())
  %footer
- if (configs.disqus)
  %div{id: "disqus_thread"}
  %script
    - if (configs.env == 'dev')
      = "var disqus_developer = 1;"
    = "var disqus_shortname = '" + configs.disqus + "';"
    = "var disqus_identifier = '" + article.permalink(true) + "';"
    = "var disqus_url = '" + article.permalink() + "';"
  :javascript
    (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
%noscript
  Please enable JavaScript to view the
  %a{href: 'http://disqus.com/?ref_noscript'} comments powered by Disqus.
%a.dsq-brlink{href: 'http://disqus.com'}
  blog comments powered by
  %span.logo-disqus Disqus
